<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c7401fd2-f8d0-48a2-ac5a-c3ae921545c0/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/booksmgmtacr</ResourceId>
    <ResourceName>booksmgmtacr</ResourceName>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <Subscription>My-Subscripption1-Pay-As-You-Go</Subscription>
    <RegistryUrl>https://booksmgmtacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7dbb3cb5-bd89-4445-8eb1-277953e69759</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>